@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@layer components {
  .nav-link {
    @apply h-full flex items-center border-zinc-900 hover:border-b-2 cursor-pointer;
  }

  .panel {
    @apply bg-zinc-200 rounded-md p-2;
  }

  .button {
    @apply bg-zinc-900 hover:bg-zinc-700 cursor-pointer py-0.5 px-2 text-lg text-zinc-200
  }

  .input-field {
    @apply outline rounded-md px-2 py-1 block min-w-md max-w-xl;
  }
}

@layer utilities {
  .center {
    @apply flex justify-center items-center
  }

  .outline-round {
    @apply rounded-lg outline-1 outline-zinc-400
  }
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}