@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@layer components {
  .nav-link {
    @apply h-full flex items-center border-zinc-900 hover:border-b-2 cursor-pointer;
  }

  .panel {
    @apply bg-zinc-100 rounded-md outline-1 outline-zinc-200 drop-shadow-sm;
  }

  .button {
    @apply bg-zinc-900 hover:bg-zinc-700 cursor-pointer py-0.5 px-1 text-lg text-zinc-200
  }

  .input-field {
    @apply outline rounded-md px-2 py-1 outline-zinc-400 focus:outline-blue-700 focus:outline-2;
  }

  .number-cell {
    @apply w-16 py-0.5 px-1 bg-zinc-200 outline-1 outline-zinc-400 rounded-md;
  }

  .cart-button {
    @apply bg-red-600 text-zinc-200 rounded-lg h-full;
  }

  .popup-detail {
    @apply min-w-sm min-h-48 flex flex-col gap-4 px-8 py-10 bg-white rounded-sm;
  }
}

@layer utilities {
  .dark-contrast {
    @apply bg-zinc-900 text-zinc-200;
  }

  .center {
    @apply flex justify-center items-center;
  }

  .occupy-space {
    @apply flex justify-between;
  }

  .panel-outline {
    @apply outline-1 outline-zinc-400 ;
  }

  .standard-icon {
    @apply size-6 cursor-pointer;
  }

  .flex-natural {
    @apply flex items-center w-fit gap-1;
  }
}

@layer theme {
  .data-header {
    @apply bg-zinc-200 outline-1 outline-zinc-300 
  }

  .data-row {
    @apply h-12
  }
    
  .text-secondary {
    @apply text-zinc-400
  }
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

label {
  @apply text-zinc-600
}